services:
  api:
    build: .
    container_name: ecommerce_api
    ports:
      - "7070:7070"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: ecommerce_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce
    ports:
      - "5436:5432"  # dışarıya 5436 portunu açıyoruz
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
